.card_movies{
    list-style: none;
    font-size: 1.5rem;
    background-color: rgb(14, 31, 77);
    border: solid rgb(14, 31, 77) 3.5px;
    border-radius: 4%;
}
h5 {
    padding: 0% 3% 0% 3%;
    margin: 3% 0% 4% 0%;
}
img {
    background-color: beige;
    border-radius: 4%;
    width: 100%;
}
.card_movies:hover {
    opacity: 0.75;
    border: solid green 2px;
}