.loading {
    display: flex;
    justify-content: center;
    margin: 30px;
}
.spinner {
    animation: spinner 0.7s linear infinite;
}
@keyframes spinner {
 to {
     transform: rotate(360deg); 
 }   
}