.form{
    display: flex;
    justify-content:flex-end;
    margin-right: 2%;
    margin-top: 10px;
}
.button, .input {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 30px;
    border: solid #833ce0 1.6px;
    border-radius: 7px;
    box-shadow: 3px 3px 6px 0.2px #833ce0;
    background-color: rgba(14, 31, 77, 0.8);
}
.button {
    width: 30px;
}
.input {
    width: 200px;
}
.input:hover {
    box-shadow: 3px 3px 6px 0.2px #9c7bc7 inset;
}
