*{
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: beige;
    background-color: rgb(14, 31, 77);
  }
  h1 {
    text-align: center;
  }